.ovic-testimonial-block__list {
    list-style: none;
    padding: 0;
    margin: 0;
    /*display: flex;*/
}

/* person info */
.ovic-testimonial-block__person-info {
    display: inline-block;
    text-align: center;
}

.ovic-testimonial-block__avatar {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    width: 146px;
    height: 146px;
    border: 2px solid #ffffff;
    border-radius: 999px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
}

.ovic-testimonial-block__avatar img {
    object-fit: contain;
    display: inline-block;
    width: 100%;
    height: auto;
}

.ovic-testimonial-block__job-title {
    display: block;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    margin: 17px 0 0;
}

.ovic-testimonial-block__person-name {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    margin: 3px 0 0;
}

/*vision and mission block*/
.ovic-testimonial-block--vision_and_mission .ovic-testimonial-block__list li {
    width: 100%;
}

.ovic-testimonial-block__vision-and-mission__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10% 30px;
    min-height: 538px;
}

.ovic-testimonial-block__vision-and-mission__mission {
    display: inline-block;
    text-align: center;
    font-size: 29px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.3;
    padding: 0;
    position: relative;
}

.ovic-testimonial-block__vision-and-mission__mission::before {
    content: '';
    display: block;
    width: 31px;
    height: 26px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -8px;
    left: -10px;
    background-image: url(../../assets/images/quote-left.png);
    z-index: 1;
}

.ovic-testimonial-block__vision-and-mission__mission::after {
    content: '';
    display: block;
    width: 31px;
    height: 26px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: -8px;
    right: -10px;
    background-image: url(../../assets/images/quote-right.png);
    z-index: 1;
}

.ovic-testimonial-block__vision-and-mission__description {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    line-height: 1.3;
    padding: 0 60px;
    margin: 39px 0 0;
}

.ovic-testimonial-block__vision-and-mission__container .ovic-testimonial-block__person-info {
    margin-top: 48px;
}

/*testimonial-block*/
.ovic-testimonial-block--testimonial {
    padding-bottom: 52px;
}

.ovic-testimonial-block--testimonial .ovic-testimonial-block__list li {
    width: 50%;
    text-align: center;
}

.is-selected .ovic-testimonial-block__testimonial__container {
    padding-right: 14.3939394%;
    padding-left: 18.9393939%;
}

.ovic-testimonial-block__testimonial__container {
    display: inline-block;
    text-align: center;
    padding-left: 14.3939394%;
    padding-right: 18.9393939%;
    -webkit-transition: padding .35s ease;
    -moz-transition: padding .35s ease;
    -ms-transition: padding .35s ease;
    -o-transition: padding .35s ease;
    transition: padding .35s ease;
}

.ovic-testimonial-block__testimonial__description {
    font-size: 18px;
    color: #ffffff;
    margin: 36px 0 0;
    text-align: justify;
    font-weight: 400;
    line-height: 24px;
    position: relative;
}

.ovic-testimonial-block__testimonial__description::before {
    content: '';
    display: block;
    width: 17px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: -3px;
    left: -25px;
    background-image: url(../../assets/images/quote-left.png);
    z-index: 1;
    background-size: cover;
}

.ovic-testimonial-block__testimonial__description::after {
    content: '';
    display: block;
    width: 20px;
    height: 15px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    bottom: 2px;
    right: -24px;
    background-image: url(../../assets/images/quote-right.png);
    z-index: 1;
    background-size: cover;
}

.ovic-testimonial-block__list:not(.ovic-slide-init) .ovic-testimonial-block__elm:not(:first-child) {
    display: none;
}

@media (max-width: 1199px) {
    .ovic-testimonial-block--testimonial .ovic-testimonial-block__list li {
        width: 100%;
    }

    .is-selected .ovic-testimonial-block__testimonial__container,
    .ovic-testimonial-block__testimonial__container {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (max-width: 991px) {
    .is-selected .ovic-testimonial-block__testimonial__container,
    .ovic-testimonial-block__testimonial__container {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width: 767px) {
    .ovic-testimonial-block__list {
        margin-left: 0;
        margin-right: 0;
    }

    .ovic-testimonial-block__avatar {
        width: 120px;
        height: 120px;
    }

    .ovic-testimonial-block__testimonial__description {
        font-size: 15px;
    }
}

.ovic-testimonial-block__list-vision-and-mission .ovic-title-block {
    padding-top: 60px;
    padding-bottom: 50px;
}

.ovic-testimonial-block__list-vision-and-mission .ovic-title-block__inner {
    color: #ffffff;
}

.ovic-testimonial-block__list-vision-and-mission .ovic-testimonial-block__banner-contain {
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    padding: 0 60px 0;
}

.ovic-testimonial-block__banner-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .15);
    padding: 40px 30px 20px;
    width: 42.929%;
    align-items: center;
}

.ovic-testimonial-block--vision_and_mission {
    padding-bottom: 55px;
}

.ovic-testimonial-block__elm--layout-one .ovic-testimonial-block__banner-content {
    width: 100%;
}

.ovic-testimonial-block__banner-content img {
    height: 90px;
    width: auto;
}

.ovic-testimonial-block__banner-text {
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    text-align: justify;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.ovic-testimonial-block__banner-text ul {
    display: block;
    padding: 0;
    line-height: 1.5;
    list-style: none;
}

.ovic-testimonial-block__banner-text ul li {
    position: relative;
    padding-left: 15px;
}

.ovic-testimonial-block__banner-text ul li::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background-color: #ffffff;
    top: 10px;
    left: 0;
    z-index: 1;
    position: absolute;
}

.ovic-testimonial-block .flickity-button.next {
    right: -7px;
    color: #ffffff;
}

.ovic-testimonial-block .flickity-button.previous {
    left: -7px;
    color: #ffffff;
}

.ovic-testimonial-block__list-vision-and-mission .flickity-prev-next-button {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    top: 65%;
}

@media (max-width: 1199px) {
    .ovic-testimonial-block__list-vision-and-mission .ovic-testimonial-block__banner-contain {
        padding: 0;
    }
}

@media (max-width: 991px) {
    .ovic-testimonial-block__elm--layout-one .ovic-testimonial-block__banner-contain,
    .ovic-testimonial-block__elm--layout-two .ovic-testimonial-block__banner-contain {
        flex-direction: column;
        background-color: rgba(255, 255, 255, .15);
        justify-content: center;
    }

    .ovic-testimonial-block__elm--layout-one .ovic-testimonial-block__banner-content,
    .ovic-testimonial-block__elm--layout-two .ovic-testimonial-block__banner-content {
        width: 100%;
        flex-direction: row;
        background-color: transparent;
    }

    .ovic-testimonial-block__banner-content .ovic-testimonial-block__banner-text {
        flex: 1 1;
        margin: 0;
    }

    .ovic-testimonial-block__banner-content .ovic-testimonial-block__banner-media {
        width: 140px;
    }
}

@media (max-width: 767px) {
    .ovic-testimonial-block__banner-media {
        display: none;
    }

    .ovic-testimonial-block__elm--layout-one .ovic-testimonial-block__banner-content,
    .ovic-testimonial-block__elm--layout-two .ovic-testimonial-block__banner-content {
        padding: 15px;
    }

    .ovic-testimonial-block__banner-text {
        font-size: 14px;
    }

    .ovic-testimonial-block__list-vision-and-mission .ovic-title-block__text {
        font-size: 17px;
    }
}