.ovic-title-block {
    display: block;
    text-align: center;
}

.ovic-title-block__inner {
    display: inline-block;
    position: relative;
    padding: 0 5px 27px;
}

.ovic-title-block__inner::before {
    content: '';
    display: inline-block;
    color: inherit;
    height: 1px;
    width: 100px;
    border-top: 1px solid currentColor;
    position: absolute;
    z-index: 1;
    bottom: 9px;
    left: 50%;
    margin-left: -50px;
}

.ovic-title-block__inner::after {
    content: '';
    display: inline-block;
    color: inherit;
    height: 1px;
    width: 160px;
    border-top: 1px solid currentColor;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    margin-left: -80px;
}

.ovic-title-block__text {
    text-transform: uppercase;
    color: inherit;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.3;
    margin: 0;
}

@media (max-width: 1199px) {
    .ovic-title-block__text {
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .ovic-title-block__text {
        font-size: 22px;
    }
}