/*==========================================================================
ELEMENTOR OVIC
===========================================================================*/
/*----- CONTAINER -----*/
.site > .elementor > .elementor-inner{
    max-width: 100% !important;;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.elementor-section-stretched.elementor-section-boxed:not(.elementor-has-width) > .elementor-container{
    padding-left: 15px;
    padding-right: 15px;
}
.elementor-section.elementor-section-boxed:not(.elementor-has-width) > .elementor-container{
    max-width: 100%;
}
@media (min-width: 768px){
    .elementor-section-stretched.elementor-section-boxed:not(.elementor-has-width) > .elementor-container,
    .site > .elementor > .elementor-inner{
        width: 750px;
    }
}
@media (min-width: 992px){
    .elementor-section-stretched.elementor-section-boxed:not(.elementor-has-width) > .elementor-container,
    .site > .elementor > .elementor-inner{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .elementor-section-stretched.elementor-section-boxed:not(.elementor-has-width) > .elementor-container,
    .site > .elementor > .elementor-inner{
        width: 1170px;
    }
}
/*----- ROW -----*/
.elementor-row{
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.elementor-column-gap-narrow > .elementor-row{
    margin: 0 -5px;
    width: calc(100% + 10px);
}
body .elementor-column-gap-narrow > .elementor-row > .elementor-column > .elementor-column-wrap{
    padding: 0 5px;
}
.elementor-column-gap-default > .elementor-row{
    margin: 0 -10px;
    width: calc(100% + 20px);
}
/*body .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-column-wrap{
    padding: 0 10px;
}*/
.elementor-column-gap-extended > .elementor-row{
    margin: 0 -15px;
    width: calc(100% + 30px);
}
body .elementor-column-gap-extended > .elementor-row > .elementor-column > .elementor-column-wrap{
    padding: 0 15px;
}
.elementor-column-gap-wide > .elementor-row{
    margin: 0 -20px;
    width: calc(100% + 40px);
}
body .elementor-column-gap-wide > .elementor-row > .elementor-column > .elementor-column-wrap{
    padding: 0 20px;
}
.elementor-column-gap-wider > .elementor-row{
    margin: 0 -30px;
    width: calc(100% + 60px);
}
body .elementor-column-gap-wider > .elementor-row > .elementor-column > .elementor-column-wrap{
    padding: 0 30px;
}
@media (max-width: 1499px){
    .elementor-column-gap-wider > .elementor-row{
        margin: 0 -20px;
        width: calc(100% + 40px);
    }
    body .elementor-column-gap-wider > .elementor-row > .elementor-column > .elementor-column-wrap{
        padding: 0 20px;
    }
}
@media (max-width: 1199px){
    .elementor-column-gap-wide > .elementor-row,
    .elementor-column-gap-wider > .elementor-row{
        margin: 0 -15px;
        width: calc(100% + 30px);
    }
    body .elementor-column-gap-wide > .elementor-row > .elementor-column > .elementor-column-wrap,
    body .elementor-column-gap-wider > .elementor-row > .elementor-column > .elementor-column-wrap{
        padding: 0 15px;
    }
}
.in-thai-nguyen-block-elementor{
    margin-bottom: 25px;
    position: relative;
}
.in-thai-nguyen-block-elementor__inner{
    background-color: #ffffff;
}
.in-thai-nguyen-block-elementor__head-section{
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.in-thai-nguyen-block-elementor__head-section__title{
    color: var(--main-color, #1f7f5c);
    font-size: 18px;
    line-height: 44px;
    margin: 0;
    text-transform: uppercase;
    user-select: none;
}
.in-thai-nguyen-block-elementor__head-section__subtitle{
    color: #4b4b4b;
    font-size: 13px;
    line-height: 47px;
    user-select: none;
    margin: 0 0 0 5px;
    height: 44px;
}
.in-thai-nguyen-block-elementor__link-show-more{
    margin-left: auto;
    margin-right: 80px;
    font-size: 14px;
    color: #333333;
}
.in-thai-nguyen-block-elementor__link-show-more:hover{
    color: var(--main-color, #1f7f5c);
}
.in-thai-nguyen-block-elementor .in-thai-nguyen-vertical-categories__block-container,
.in-thai-nguyen-block-elementor .in-thai-nguyen-vertical-categories__list{
    margin: 0;
}
.in-thai-nguyen-block-elementor .in-thai-nguyen-vertical-categories__list{
    padding-bottom: 10px;
}
.border-top-width-2px{
    border-top: 2px solid transparent;
}
.in-thai-nguyen-content-section--banner{
    padding: 15px;
}
.in-thai-nguyen-content-section--product{
    border-top: 1px solid #ebebeb;
    padding: 15px 15px;
}
.in-thai-nguyen-feature-list:not(.flickity-enabled),
.in-thai-nguyen-product-carousel:not(.flickity-enabled){
    overflow: hidden;
    white-space: nowrap
}
.in-thai-nguyen-feature-list > li,
.in-thai-nguyen-product-carousel > li{
    display: inline-block;
}
.margin-top-25px{
    margin-top: 25px;
}
.elm-1-column{
    width: 100%;
}
.elm-2-columns{
    width: 50%;
}
.elm-3-columns{
    width: calc(100% / 3);
}
.elm-4-columns{
    width: 25%;
}
.elm-5-columns{
    width: 20%;
}
.elm-6-columns{
    width: calc(100% / 6);
}
@media (max-width: 1199px){
    .elm-5-columns,
    .elm-6-columns{
        width: 25%;
    }
}
@media (max-width: 991px){
    .elm-4-columns,
    .elm-5-columns,
    .elm-6-columns{
        width: calc(100% / 3);
    }
    .elementor-section-wrap .elementor-section.ictu-col-mg-6 .elementor-container{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .elementor-section-wrap .elementor-section.ictu-col-mg-6 .elementor-container .elementor-col-50{
        padding: 0;
        margin: 0;
        width: 100%;
        flex: auto;
    }
    .elementor-section-wrap .elementor-section.ictu-col-mg-6 .elementor-container .elementor-col-50 + .elementor-col-50{
        margin-top: 6px;
    }
}
@media (max-width: 767px){
    .elm-3-columns,
    .elm-4-columns,
    .elm-5-columns,
    .elm-6-columns{
        width: 50%;
    }
    .in-thai-nguyen-block-elementor__head-section__subtitle,
    .in-thai-nguyen-block-elementor__link-show-more{
        display: none;
    }
}
/*----- CONTAINER -----*/
body{
    --main-container-pd: 15px;
}
.site > .elementor{
    clear: both;
}
body .megamenu .has-container > .elementor-container,
body .elementor-section-boxed.elementor-section-stretched > .elementor-container,
body .elementor-section-boxed:not(.elementor-section-stretched),
.container{
    padding-inline-start: var(--main-container-pd);
    padding-inline-end: var(--main-container-pd);
    margin-inline-start: auto;
    margin-inline-end: auto;
}
body .elementor-section > .elementor-container{
    position: static;
}
body .e-con{
    --container-max-width: var(--main-container);
}
.page-template-default.elementor-page .site-content.sidebar-full .site-container.container .e-con > .e-con-inner,
body .e-con > .e-con-inner{
    padding-inline-start: var(--main-container-pd);
    padding-inline-end: var(--main-container-pd);
    max-width: calc(var(--content-width) + (var(--main-container-pd) * 2));
}
.page-template-default.elementor-page .site-content.sidebar-full .site-container.container{
    padding-inline-start: 0;
    padding-inline-end: 0;
    max-width: none;
}
.container .e-con > .e-con-inner{
    padding-inline-start: 0;
    padding-inline-end: 0;
    max-width: var(--content-width);
}
.e-con:not(.e-grid) .elementor-empty-view{
    min-height: var(--min-height, 30px);
}
.e-con > .e-con-inner > .elementor-widget > .elementor-widget-container,
.e-con > .elementor-widget > .elementor-widget-container{
    height: auto;
}
body .e-con-inner > .elementor-widget-spacer,
body .e-con > .elementor-widget-spacer,
.elementor-widget{
    width: 100%;
}
.e-con-inner > .elementor-widget-spacer.elementor-widget-empty,
.e-con > .elementor-widget-spacer.elementor-widget-empty{
    min-height: 1px;
    min-width: 1px;
}
body .e-con-inner > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner,
body .e-con > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner{
    position: relative;
    height: var(--spacer-size, 1px);
    min-height: 100%;
}
.elementor-editor-active .e-con-inner > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner,
.elementor-editor-active .e-con > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner{
    background-color: rgba(213, 216, 220, .8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.elementor-editor-active .e-con-inner > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner:before,
.elementor-editor-active .e-con > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner:before{
    font-family: eicons;
    content: "\e85f";
    font-size: 20px;
    line-height: 1;
}
@media (min-width: 768px){
    body .elementor-section-boxed:not(.elementor-section-stretched) > .elementor-container{
        max-width: 100%;
    }
    body .megamenu .has-container > .elementor-container,
    body .elementor-section-boxed.elementor-section-stretched > .elementor-container,
    body .elementor-section-boxed:not(.elementor-section-stretched),
    .container{
        max-width: calc(var(--main-container) + (var(--main-container-pd) * 2));
    }
    body{
        --main-container: 720px
    }
}
@media (min-width: 992px){
    body{
        --main-container: 940px
    }
}
@media (min-width: 1200px){
    body{
        --main-container: 1170px
    }
}
