@charset "UTF-8";
.single-blog-content{
}
.single-post-content{
    background-color: #efefef;
    padding: 30px;
    display: inline-block;
    width: 100%;
}
.single-post__body{
    display: inline-block;
    width: 100%;
    position: relative;
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    word-break: break-word;
    overflow-x: auto;
    text-align: justify;
}
.single-post__body::after{
    position: absolute;
    content: '';
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid var(--main-color);
    opacity: .5;
    z-index: 1;
}
.single-post__body > *{
    max-width: 100% !important;
}
.single-post__body ol,
.single-post__body ul,
.single-post__body blockquote,
.single-post__body p{
    font-size: 15px;
    color: #000000;
    line-height: 24px;
}
.single-post__body blockquote{
    position: relative;
    padding: 0;
    margin: 0 0 41px;
}
.single-post__body blockquote p{
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2;
}
.single-post__body blockquote p::after{
    content: '"';
    display: inline-block;
    margin-left: 5px;
    font-weight: 700;
    font-size: 16px;
}
.single-post__body blockquote p::before{
    content: '"';
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
    font-size: 16px;
}
.single-post__foot{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 13px 0 0;
}
.single-post__foot-share{
    display: flex;
    font-size: 14px;
}
.single-post__foot p{
    margin: 0 20px 0 0;
    display: inline-block;
}
.single-post__foot p i{
    color: var(--main-color);
    margin-right: 10px;
}
.single-post__foot-share > span{
    font-style: italic;
    color: #000000;
    padding-right: 4px;
}
.single-post__foot-shared-list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.single-post__foot-shared-list a{
    color: var(--main-color);
    display: inline-block;
    padding: 0 10px;
    margin: 0;
}
.single-post__foot-shared-list li:last-child > a{
    padding-right: 0;
}
.single-post__foot-shared-list a i{
    color: inherit;
}
.single-post__foot-shared-list a:hover{
    color: #000000;
}
.single-blog-content--calendar .article-style-calendar iframe{
    background: transparent;
    border: 1px solid var(--main-color);
    border-bottom-width: 2px;
}
.single-blog-content--calendar .single-post-head-block{
    margin-bottom: 0;
}
.single-blog-content--calendar .single-post-head-block__title{
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.single-blog-content--calendar .single-post-content{
    padding: 0;
}
.single-blog-content--calendar .single-post__body::after,
.single-blog-content--calendar .single-post__body::before{
    content: none;
    display: none;
}
.single-article__section-related-posts{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.single-article__section-related-posts__element{
    justify-self: flex-start;
    width: 50%;
    text-align: left;
}
.single-article__section-related-posts__element--right-position{
    justify-self: flex-end;
    text-align: right;
}
.single-article__section-related-posts__element a{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 10px;
    background-color: var(--main-color);
    color: #ffffff;
}
.single-article__section-related-posts__element a:hover{
    color: var(--main-color-hover);
}
.single-blog-content--calendar iframe{
    width: 100%;
    height: calc(100vh - 60px)
}
body.admin-bar .single-blog-content--calendar iframe{
    height: calc(100vh - 60px - 32px)
}
@media (max-width: 1199px){
    .single-post-content{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 767px){
    .single-post-content{
        padding-left: 10px;
        padding-right: 10px;
    }
}