.ovic-why-choose-us-block {
    padding-bottom: 80px;
}

.ovic-why-choose-us-block__head {
    margin: 0 0 65px;
    padding-top: 48px;
}

.ovic-why-choose-us-block__title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.ovic-why-choose-us-block__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ovic-why-choose-us-block__content__head {
    display: flex;
    text-align: center;
    font-size: 60px;
    line-height: 1;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
    align-items: center;
}

.ovic-why-choose-us-block__content--star .ovic-why-choose-us-block__content__head {
    margin-top: -13px;
    padding-bottom: 66px;
}

.ovic-why-choose-us-block__content--star .ovic-why-choose-us-block__content__head::before {
    content: '';
    width: 145px;
    height: 75px;
    display: inline-block;
    position: absolute;
    bottom: 23px;
    left: 50%;
    margin-left: -72.5px;
    z-index: 1;
    background-image: url('../../assets/images/five-stars.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.ovic-why-choose-us-block__content__desc {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 17px;
    line-height: 1.3;
    font-weight: 300;
}

.ovic-why-choose-us-block__suffix {
    display: flex;
}

.ovic-why-choose-us-block__suffix i {
    font-size: 34px;
    line-height: 1;
    display: inline-block;
    margin-left: 5px;
}

@media (max-width: 1024px) {
    .ovic-why-choose-us-block__content__head {
        font-size: 43px;
    }

    .ovic-why-choose-us-block__content__desc {
        font-size: 14px;
        font-weight: 400;
    }

    .ovic-why-choose-us-block__suffix i {
        font-size: 25px;
    }
}


@media (max-width: 767px) {
    .ovic-why-choose-us-block__elm {
        width: calc(100% / 3);
        padding: 20px 5px;
    }

    .ovic-why-choose-us-block__list {
        justify-content: center;
    }

    .ovic-why-choose-us-block__head {
        margin-bottom: 40px;
    }

    .ovic-why-choose-us-block {
        padding-bottom: 40px;
    }
}

@media (max-width: 500px) {
    .ovic-why-choose-us-block__elm {
        width: 50%;
        padding: 20px 5px;
    }

    .ovic-why-choose-us-block__content__head {
        font-size: 26px;
    }

    .ovic-why-choose-us-block__suffix i {
        font-size: 19px;
    }

    .ovic-why-choose-us-block__elm:nth-child(5) {
        width: 100%;
    }
}